.background{
  font-family: Arial, sans-serif; 
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #36276c 60%, #9f41e7  );
  
}

.head{
  color: white;
  font-size: 60px;
}

.head span{
  color: #e6084f;
  font-size: 60px;
}

textarea{
  width: 80vw;
  height: 600px;
  background-color: #a08ccd;
  border-radius: 20px;
  padding: 50px;
  resize: none;
}
textarea::placeholder{
  color: black;
  font-size: 25px;
}
textarea::value{
  color: black;
  font-size: 20px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;
}
.row select{
  flex: 1;
  color: #fff;
  background-color: #a08ccd;
  height: 50px;
  padding: 0 20px;
  outline: 0;
  border: 0;
  appearance: none;
  border-radius: 35px;
  background-image: url('images.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: calc(100% - 20px);
  background-position-y: calc(20px);
}
.row button{
  border-radius: 35px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-left: 20px;
  color: white;
  background-color: red;
}
  
